@media (max-width: 1366px) {

    .container {
        padding: 0 50px;
        width: 100%;
    }

    .header {
        padding: 24px 0;
    }

    .header__logo {
        width: 150px;
    }

    .header__nav {
        margin-right: 106px;
    }

    .header__nav .nav__item:not(:last-child) {
        margin-right: 60px;
    }

    .hero {
        padding-top: 40px;
        padding-bottom: 14px;
    }

    .hero__content {
        padding: 161px 77px;
    }

    .hero__img {
        background-image: url(../image/bac-hero1024.jpg);
    }

    .hero__title{
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 18px;
        width: 100%
    }

    .hero__descr {
        width: 100%;
        font-size: 20px;
        margin-bottom: 60px;
    }

    .hero__btn {
        font-size: 24px;
        padding: 25px 34px;
    }

    .about {
        padding-bottom: 34px;
    }

    .about__title {
        margin-bottom: 21px;
    }

    .about__descr {
        margin-bottom: 59px;
        width: 100%;
    }

    .about-left {
        width: 100%;
        min-height: 640px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .about-card {
        padding: 6.3% 9% 6% 34.3%;
        min-height: 295px;
    }

    .about-card:not(:last-child) {
        margin-bottom: 31px;
    }

    .about-card--cube, .about-card--tool {
        background-size: 21%;
        background-position: 74px 62px;
    }

    .about-content__descr {
        width: 55%;
    }

    .about-contents {
        flex-wrap: wrap;
    }

    .about-right {
        width: 100%;
    }

    .info {
        padding-bottom: 7px;
    }

    .info__title {
        margin-bottom: 36px;
    }

    .info-left {
        width: 80%;
    }

    .info-left__title {
        margin-bottom: 10px;
    }

    .info-card__text {
        margin-bottom: 24px;
        width: 96%;
    }

    .questions {
        padding-bottom: 77px;
    }

    .questions__title {
        margin-bottom: 32px;
    }

    .questions__item {
        --offsets: 0;
        padding: 6.9% 5% 6.9% 6.3%;
    }

    .questions__list {
        flex-direction: column;
    }

    .footer__title  {
        margin-bottom: 28px;
    }

    .footer__contacts {
        width: 38%;
    }

    .footer__form {
        width: 59%;
    }

    .form__top {
        margin-bottom: 31px;
    }

    .form__input {
        margin-bottom: 27px;
    }

    .form__btn {
        padding: 20px 37px;
    }

    .footer__descr {
        display: none;
    }

}

@media (max-width: 1024px) {

    .info-right {
        width: 74%;
        height: 100%;
        transform: translateY(9px);
    }

    .form__btn {
        padding: 20px 37px;
        min-width: 240px;
      }
}

@media (max-width: 992px) {
    
    .header {
        padding: 14px 0;
    }

    .header__logo {
        width: 110px;
    }

    .header__nav {
        margin-right: 43px;
    }

    .header__nav .nav__item:not(:last-child) {
        margin-right: 41px;
    }

    .header__nav .nav__link {
        font-weight: 700;
        font-size: 16px;
    }

    .hero__content {
        padding: 160px 41px;
    }

    .hero__img {
        border-radius: 24px;
    }

    .hero__title{
        font-size: 50px;
        line-height: 61px;
        margin-bottom: 18px;
    }

    .hero__descr {
        font-size: 18px;
        margin-bottom: 62px;
    }

    .about__descr {
        margin-bottom: 54px;
    }

    .about-left {
        border-radius: 24px;
        min-height: 650px;
    }

    .about-content {
        padding: 33px 40px;
        border-radius: 24px;
    }

    .about-content__descr {
        width: 62%;
    }

    .about-card {
        padding: 5.2% 5% 5% 25.3%;
        min-height: 235px;
    }

    .about-card--cube, .about-card--tool {
        background-size: 17%;
        background-position: 39px 67px;
    }

    .info {
        padding-top: 48px;
    }

    .info__title {
        margin-bottom: 23px;
    }

    .info-card {
        flex-direction: column-reverse;
    }

    .info-right {
        width: 100%;
        margin-bottom: 45px;
    }

    .info__img {
        border-radius: 23px;
    }

    .info-left  {
        width: 100%;
    }

    .info-card__text {
        width: 100%;
        margin-bottom: 25px;
    }

    .info-card__descr {
        display: inline; 
    }
    
    .questions{
        padding-bottom: 81px;
    }

    .questions__item {
        padding: 5.2% 5% 4.9% 5.9%;
    }

    .footer__container {
        flex-direction: column-reverse;
        --offsets: 0;
    }

    .footer__title {
        margin-bottom: 28px;
    }

    .footer__form {
        width: 81%;
        margin-bottom: 18px;
    }

    .form__top {
        margin-bottom: 31px;
    }

    .form__input {
        margin-bottom: 27px;
    }

    .form__btn {
        padding: 20px 35px;
    }

    .footer__nav {
        display: none;
    }

    .footer__logo {
        margin-bottom: 12px;
    }

}

@media (max-width: 768px) {

    .header {
        border-radius: 0 0 16px 16px;
    }

    .header__logo {
        margin-left: auto;
        margin-right: auto;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        position: relative;
        display: block;
        border: 1px solid currentColor;
        border-radius: 3px;
        width: 35px;
        height: 35px;
        color: #000;
    }
    
    .burger__line {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }
    
    .burger__line:nth-child(1) {
        top: 9px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3) {
        bottom: 9px;
    }

}

@media (max-width: 576px) {

    :root {
        --gap: 33px;
    }

    .container {
        padding: 0 15px;
    }

    .section-title {
        font-weight: 400;
        font-size: 24px;
    }

    .section-descr {
        font-weight: 400;
        font-size: 14px;
    }

    .hero {
        padding-top: 20px;
        padding-bottom: 36px;
    }

    .hero__img {
        border-radius: 16px;
    }

    .hero__title {
        font-weight: 800;
        line-height: 25px;
        font-size: 20px;
        margin-bottom: 7px;
        text-align: center;
    }

    .hero__descr {
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        margin-bottom: 34px;
    }

    .hero__content {
        padding: 60px 20px;
        align-items: center;
    }

    .hero__btn {
        width: 162px;
        padding: 14px 27px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
    }

    .about {
        padding-bottom: 13px;
    }

    .about__descr {
        margin-bottom: 13px;
    }

    .about-left  {
        border-radius: 16px;
        background-position: top;
        min-height: auto;
        background-size: 290px 200px;
        padding-top: 209px;
        margin-bottom: 30px;
    }

    .about-content {
        flex-direction: column;
        background: none;
        padding: 0;
    }

    .about-content__descr {
        color: #000;
        width: 100%;
        margin-bottom: 10px;
    }

    .about-content__btn {
        padding: 11px 41px;
        border-radius: 8px;
        margin-right: auto;
        margin-left: 0;
        font-weight: 700;
        font-size: 12px;
        color: #f90;
    }

    .about-card {
        border: none;
        padding: 0;
    }

    .about-card--cube {
        background-image: url(../image/cube320.svg);
        background-position: left 0 top 0;
        background-size: 23%;
    }

    .about-card--tool {
        background-image: url(../image/tool320.svg);
        background-position: left 0 top 0;
        background-size: 23%;
    }

    .about-card:not(:last-child) {
        margin-bottom: 31px;
    }

    .about-card__text {
        padding-top: 63px;
    }

    .about-card__title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 6px;
    }

    .about-card__descr {
        line-height: 28px;
    }

    .info__title {
        margin-bottom: 10px;
    }

    .info__img {
        border-radius: 16px;
    }

    .info-left__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 178%;
        margin-bottom: 9px;
    }

    .info-right {
        margin-bottom: 20px;
    }

    .info-card__text {
        margin-bottom: 23px;
    }

    .info__btn {
        display: flex;
    }

    .info__btn-orange {
        font-weight: 700;
        font-size: 12px;
        border-radius: 8px;
        padding: 13px 44px;
        margin-right: 9px;  
    }

    .info__btn-transparent {
        font-weight: 400;
        font-size: 12px;
        border-radius: 8px;
        padding: 13px 32px;
    }

    .questions {
        padding-top: 54px;
        padding-bottom: 59px;
    }

    .questions__title {
        margin-bottom: 20px;
    }

    .questions__item {
        padding: 0;
        border: none;
    }

    .questions__item-title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 6px;
    }

    .footer {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .footer__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .footer__form {
        width: 100%;
        margin-bottom: 8px;
    }

    .form__input {
        font-weight: 400;
        font-size: 14px;
        line-height: 229%;
        padding: 13px 23px;
    }

    .form__textarea {
        font-weight: 400;
        font-size: 14px;
        line-height: 229%;
        padding: 14px 22px;
    }

    .form__btn {
        padding: 13px 19px;
        border-radius: 8px;
        min-width: 162px;
        font-weight: 700;
        font-size: 12px;
        margin-right: 0;
        margin-bottom: 12px;
    }

    .form__bottom {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .form__bottom::after {
        content: "";
        position: absolute;
        bottom: -25px;
        width: 100%;
        height: 1px;
        background-color: #414141;
    }

    .form__top {
        margin-bottom: 24px;
    }

    .footer__contacts {
        align-items: center;
        width: 100%; 
    }

    .socials__img {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .socials__item:not(:last-child) {
        margin-right: 16px;
    }

    .footer__logo {
        width: 131px;
    }

}